*.class
*.pyc 
*.DS_Store
*.ipynb_checkpoints
*__pycache__
Leetcode_python_dev.ipynb
Untitled.ipynb
.DS_Store
# leetcode java
leetcode_java/.idea/
leetcode_java/leetcode_java.iml
leetcode_java/target/
.idea/
ref_code/CtCI-6th-Edition-master/.project
ref_code/crack_code/Cracking-the-Coding-Interview_solutions-master/.project
ref_code/crack_code/CtCI-6th-Edition-master/.project